---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5'



const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
console.log('images:', images)

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[90px]">
      <Content>
        <section>
          <h1 class="mb-8 text-3xl text-center indent-4">
			Welcome to my blog,  I'm Parikshit and here I document my latest explorations.
		  </h1>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-1 gap-4 font-mplus">
            {
              posts.map(post => {
                return (
                <li class="mb-4 border-gray-500 border-[1px] rounded-lg p-4">
                  <a href={post.url}>
					
                    <div class="mt-3 text-2xl font-bold border-b-2 border-gray-500 p-2">
                      {post.frontmatter.title}
                    </div>
                    {post.frontmatter.description && (
                      <div class="opacity-80 text-lg p-2">
                        {post.frontmatter.description}
                      </div>
					  <div class="opacity-80 py-1 text-lg">
						{post.frontmatter.pubDate}
					  </div>
                    )}
                  </a>
                </li>
              )
              })
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>