---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';

const posts = (await Astro.glob('./posts/*.md')).sort(
	(a: any,b: any) => 
	new Date(b.frontmatter.pubDate).valueOf() - 
	new Date(a.frontmatter.pubDate).valueOf()
)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="pt-[90px]">
			<h1 class="font-mplus text-3xl text-center px-10 max-w-3xl mx-auto">Welcome to my blog,  I'm Parikshit and here I document my latest explorations.</h1>
			<Content>
				<section>
					<p class="mb-8 indent-4"></p>
					
				</section>
				<section class="">
					<ul class="grid grid-cols-1 md:grid-cols-1 gap-4">
						{posts.map(post => (
						<li class="mb-4 border-[1px] border-gray-400 py-4 p-2 rounded-lg">
							<a href={post.url}>
								<div class="text-2xl font-semibold border-b-[1px] p-4 border-gray-400">{post.frontmatter.title}</div>
								<div class="p-4">{post.frontmatter.description}</div>
								<div class="p-4">{post.frontmatter.pubDate}</div>
							</a>
						</li>
					))}</ul>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
