---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE } from '../consts'

export interface Props {
  content: {
    title: string
    description: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
    tags: string[]
  }
}

const {
  content: { title, description, heroImage }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title + ` / ${SITE_TITLE}`} description={description} image={heroImage} />
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <style>
    main article.markdown-body {
      ul {
        @apply list-disc list-inside pl-4 mb-4
      }
      h1, h2, h3, h4, h5 {
        @apply font-bold font-fmono
      }
      h1 {
        @apply text-4xl
      }
      h2 {
        @apply text-2xl
      }
      h3 {
        @apply text-xl
      }
      h4 {
        @apply text-lg
      }
      img {
        @apply border border-slate-300 dark:border-zinc-700 rounded-xl mb-6
      }
      p {
        @apply mb-6
      }
      a {
        @apply underline underline-offset-2 hover:text-orange-500 decoration-orange-500
      }
    }
    </style>

    <main class="pt-[56px]">
      <Content className="pt-6 markdown-body font-fmono text-lg">
        <h1 class="text-3xl my-1 font-fmono">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>